<html data-namespace-typo3-fluid="true" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />
<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:header.altText" />
    </h1>

    <p>
        <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:description.altText" />
        <a href="https://www.w3.org/TR/WCAG20-TECHS/H37.html">https://www.w3.org/TR/WCAG20-TECHS/H37.html</a>
    </p>
    <f:render section="Pagination" arguments="{_all}" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.previewImage" />
                </th>
                <th>
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.fileName" />
                </th>
                <th>
                    <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.path" />
                </th>
                <th>
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.altTextAvailable" />
                </th>
                <th>
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.decorative" />
                </th>
                <th>
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:table.actions" />
                </th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{paginator.paginatedItems}" as="image">
                <tr>
                    <td>
                        <f:image src="{image.uid}" alt="{image.alternative}" height="100px" />
                    </td>
                    <td>{image.name}</td>
                    <td>{image.identifier}</td>
                    <td>
                        <f:if condition="{image.alternative}">
                            <f:then>
                                <span class="badge badge-success">
                                    <f:translate
                                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:badge.yes" />
                                </span>
                            </f:then>
                            <f:else>
                                <span class="badge badge-danger">
                                    <f:translate
                                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:badge.no" />
                                </span>
                            </f:else>
                        </f:if>
                    </td>
                    <td>
                        <f:if condition="{image.is_decorative}">
                            <f:then>
                                <span class="badge badge-success">
                                    <f:translate
                                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:badge.yes" />
                                </span>
                            </f:then>
                            <f:else>
                                <span class="badge badge-danger">
                                    <f:translate
                                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:badge.no" />
                                </span>
                            </f:else>
                        </f:if>
                    </td>
                    <td>
                        <be:link.editRecord class="btn btn-default btn-borderless" table="sys_file_metadata"
                            uid="{image.uid}">
                            <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-page-open"
                                data-identifier="actions-page-open" aria-hidden="true">
                                <span class="icon-markup">
                                    <svg class="icon-color">
                                        <use
                                            xlink:href="/_assets/1ee1d3e909b58d32e30dcea666dd3224/Icons/T3Icons/sprites/actions.svg#actions-file-edit">
                                        </use>
                                    </svg>
                                </span>
                            </span>
                        </be:link.editRecord>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
    <f:render section="Pagination" arguments="{_all}" />
</f:section>



<f:section name="Pagination">
    <ul class="pagination">
        <f:if condition="{prevLink}">
            <li class="page-item">
                <a class="page-link" href="{prevLink}">
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:pagination.prev" />
                </a>
            </li>
        </f:if>
        <f:if condition="{currentPage} > {firstPage} +5">
            <li class="page-item"><a href="{firstLink}" class="page-link">{firstPage}</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
        </f:if>
        <f:for each="{pageLinks}" as="uri" key="page" iteration="iterator">
            <f:if condition="{page} == {currentPage}">
                <f:then>
                    <li class="page-item active"><span class="page-link">{page}</span></li>
                </f:then>
                <f:else>
                    <li class="page-item"><a href="{uri}" class="page-link">{page}</a></li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{currentPage} < {lastPage} -5">
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a href="{lastLink}" class="page-link">{lastPage}</a></li>
        </f:if>
        <f:if condition="{nextLink}">
            <li class="page-item">
                <a class="page-link" href="{nextLink}">
                    <f:translate
                        key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:pagination.next" />
                </a>
            </li>
        </f:if>
    </ul>
</f:section>