<html data-namespace-typo3-fluid="true" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />
<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:intro.heading" />
    </h1>
    <p>
        <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:intro.text" />
    </p>
    <ul>
        <li>
            <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:intro.feature1" />
        </li>
        <li>
            <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:intro.feature2" />
        </li>
    </ul>
    <p>
        <f:translate key="LLL:EXT:a11y_companion/Resources/Private/Language/locallang_mod.xlf:intro.why" />
    </p>
</f:section>